<script setup>
import Hero from "../components/Hero.vue";
import Footer from "../components/Footer.vue";
import Card from "../components/Card.vue";
</script>

<template>
  <Hero />
  <Card />
  <Footer />
</template>
